/* main{
    margin-right: 5rem;
    margin-left: 5rem;
} */
html{
    scroll-behavior: smooth;
}
.subject{
    padding: 3rem;
    border: 1px black solid;
}
.user-info{
    border-bottom:1px solid black;
    display: flex;
    padding: 2rem;
    background: linear-gradient(20deg, rgba(241, 134, 227, 0.705), #8de7ee);
    /* border-radius: 2rem; */
}
.profile-pic  img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 1px black solid;
}


.charts {
    display: flex;
}