*{
    box-sizing: 0;
    margin: 0;
}

.main-div {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgba(101, 76, 245, 0.705), #bdee8d);
    height: 100vh;
    color: rgb(143, 56, 71);
    font-family: 'Rock Salt', cursive;
}

.subjects > a {
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    border: 3px solid rgba(2, 54, 102, 0.397);
    border-radius: 1.2em;
    font-size: 2rem;
    
}

.subjects > a {
    color: white;
    text-decoration: none;
}

.subjects > a:hover{
    background-color: teal;
}

.register{
    display: flex;
}

.register > a {
    color: rgb(143, 56, 71);
    margin:0 100px;
    
}
.register  a{
    color: rgb(143, 56, 71);
    text-decoration: none;
    border: 3px solid rgba(2, 54, 102, 0.397);
    border-radius: 1.2em;
    font-size: 2rem;
    padding: 1.5rem;
}

.register > a:hover {
    background-color: white; 

}


@media (max-width:1199px)  {
    .subjects > a {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
}