{% extends 'classroom/base.html' %}
{% block main %}
<h3>{{subject}}</h3>
<hr>
{% for e  in exams %}
<p>{{e.name}}</p>
    {% comment %} {% for q in e.get_questions %}
        <h4>{{q}}</h4>
        {% for a in q.get_answers%}
            <input type="radio" name="" id="{{q.text}}">
            <label for="{{q.text}}">&emsp;{{a.text}}</label>
            <br>
        {% endfor %}
    <hr>    
    {% endfor %} {% endcomment %}
<a href="{% url 'exam-view' subject e.pk  %}">Start</a>    
{% endfor %}

{% endblock main %}
