{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Favicon link -->
    <link rel="shortcut icon" href="{%  static 'favicon.svg ' %}">
    <!-- Favicon link end  -->
    <title>Profile | {{ user.get_short_name | title}}</title>
  </head>
  <body>
<main>
<div class='main'>
<div class="user-info">
  <div class="profile-pic">
    <img class="img-fluid" src="{{user.profile.image.url}}" alt="notfound">
  </div>
  <div class="user-info-items">
    <h1>{{user.get_full_name | title }}</h1>
    <p>@{{user}}</p>

    <a href="/user/updateprofile/" class="btn btn-dark text-white">Update</a>
    <a href="#python" class="btn btn-dark text-white">Python</a>
    <a href="#mms" class="btn btn-dark text-white">Multi Media System</a>
    <a href="#dbms" class="btn btn-dark text-white">DBMS</a>
    <a href="#microprocessor" class="btn btn-dark text-white">Microprocessor</a>
    <a href="/" class="btn btn-dark">Home</a>
  </div>
</div>

{% if messages%}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
{{message}}
</div>
{% endfor %}
{% endif %}


<div class="subject-container" >
  <div id='python' class="subject">
    <h3>Python</h3>
    <h4>Syllabus</h4>
    <hr>
    {% if True %}
      <div class="charts">
        <div class="doughnut">
          <canvas id= "pythonSyllabusDoughnutChart" style="position: relative; height:20em; width:30em"></canvas>
        </div>
        <div>
          <canvas id="pythonSyllabusLineChart" style="position: relative; height:20em; width:35em"></></canvas>
        </div>
      </div>
      <div class="result">
        <h4>Exam Results.</h4>
        <hr>
        <ul>
        {% for r in result %}
        {% if r.exam.subject.name == 'python' %}
        <li>{{r.exam.name}}: {{r.score}}%</li>
        {% endif %}
        {% endfor %}
      </ul>            
      </div>
      <div class="result">
        <h4>Assignments Completed</h4>
        <hr>
        <ul>
        {% for s in submission %}
        {% if s.assignment.subject.name == 'python' %}
        <li>{{s.assignment.title}}</li>
        {% endif %}
        {% endfor %}
      </ul>            
      </div>
    {% endif %}
  </div>
  <div id="mms" class="subject">
    <h3>Multi Media System</h3>
    <h4>Syllabus</h4>
    {% if True %}
      <div class="charts">
        <div class="doughnut">
          <canvas id= "mmsSyllabusDoughnutChart" style="position: relative; height:20em; width:30em"></canvas>
        </div>
        <div>
          <canvas id="mmsSyllabusLineChart" style="position: relative; height:20em; width:40em"></canvas>
        </div>
      </div>
      <div class="result">
        <h4>Exam Results.</h4>
        <hr>
        <ul>
        {% for r in result %}
        {% if r.exam.subject.name == 'multimediasystem' %}
        <li>{{r.exam.name}}: {{r.score}}%</li>
        {% endif %}
        {% endfor %}
      </ul>            
    </div>
    <div class="result">
      <h4>Assignments Completed</h4>
      <hr>
      <ul>
      {% for s in submission %}
      {% if s.assignment.subject.name == 'multimediasystem' %}
      <li>{{s.assignment.title}}</li>
      {% endif %}
      {% endfor %}
    </ul>            
    </div>
    {% endif %}
    
  </div>
  <div id="dbms" class="subject">
    <h3>DBMS</h3>
    <h4>Syllabus</h4>
    {% if True %}
      <div class="charts">
        <div class="doughnut">
          <canvas id= "dbmsSyllabusDoughnutChart" style="position: relative; height:20em; width:30em"></canvas>
        </div>
        <div>
          <canvas id="dbmsSyllabusLineChart" style="position: relative; height:20em; width:40em"></canvas>
        </div>
      </div>
      <div class="result">
        <h4>Exam Results.</h4>
        <hr>
        <ul>
        {% for r in result %}
        {% if r.exam.subject.name == 'dbms' %}
        <li>{{r.exam.name}}: {{r.score}}%</li>
        {% endif %}
        {% endfor %}
      </ul>            
      </div>
      <div class="result">
        <h4>Assignments Completed</h4>
        <hr>
        <ul>
        {% for s in submission %}
        {% if s.assignment.subject.name == 'dbms' %}
        <li>{{s.assignment.title}}</li>
        {% endif %}
        {% endfor %}
      </ul>            
      </div>
    {% endif %}
  </div>
  <div id="microprocessor" class="subject">
    <h3>Microprocessor</h3>
    <h4>Syllabus</h4>
    {% if True %}
      <div class="charts">
        <div class="doughnut">
          <canvas id= "microprocessorSyllabusDoughnutChart" style="position: relative; height:20em; width:30em"></canvas>
        </div>
        <div>
          <canvas id="microprocessorSyllabusLineChart" style="position: relative; height:20em; width:40em"></canvas>
        </div>
      </div>
    {% endif %}
    <div class="result">
      <h4>Exam Results.</h4>
      <hr>
      <ul>
      {% for r in result %}
      {% if r.exam.subject.name == 'microprocessor' %}
      <li>{{r.exam.name}}: {{r.score}}%</li>
      {% endif %}
      {% endfor %}
    </ul>            
    </div>
    <div class="result">
      <h4>Assignments Completed</h4>
      <hr>
      <ul>
      {% for s in submission %}
      {% if s.assignment.subject.name == 'microprocessor' %}
      <li>{{s.assignment.title}}</li>
      {% endif %}
      {% endfor %}
    </ul>            
    </div>
  </div>
</div>


</div>
</main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<!-- <script src="{% static 'users/teacher_dashboard.js' %}"></script> -->
<script>


const ctx = document.getElementById('pythonSyllabusDoughnutChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Pending',  'Completed', ],
        datasets: [{
            label: '# of Votes',
            data: [{{ python_pending | safe}}, {{ python_completed | safe}},],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(75, 192, 192, 0.2)', 
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(75, 192, 192, 1)',  
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

const myChart1 = new Chart('pythonSyllabusLineChart', {
    type: 'line',
    data: {
    labels:['Jan','Feb','Mar','Apr',] ,
    datasets: [{
      label: 'Chapters', 
      backgroundColor: "rgba(75, 192, 192, 0.2)",
      borderColor: "rgba(75, 192, 192, 0.2)",
      data: [1,2,3]
    }]
  }
});

const myChart2 = new Chart('mmsSyllabusDoughnutChart', {
    type: 'doughnut',
    data: {
        labels: ['Pending',  'Completed', ],
        datasets: [{
            label: '# of Votes',
            data: [{{multimediasystem_pending | safe}}, {{multimediasystem_completed | safe}}],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(75, 192, 192, 0.2)',    
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(75, 192, 192, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

const myChart3 = new Chart('mmsSyllabusLineChart', {
  type: 'line',
  data: {
  labels:['Jan','Feb','Mar','Apr',] ,
  datasets: [{
    label: 'Chapters', 
    backgroundColor: "rgba(75, 192, 192, 0.2)",
    borderColor: "rgba(75, 192, 192, 0.2)",
    data: [1,2,3]
  }]
}
});


const myChart4 = new Chart('dbmsSyllabusDoughnutChart', {
  type: 'doughnut',
  data: {
      labels: ['Pending',  'Completed', ],
      datasets: [{
          label: '# of Votes',
          data: [{{dbms_pending | safe}},{{dbms_completed | safe}}],
          backgroundColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(75, 192, 192, 0.2)',
              
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              
              'rgba(75, 192, 192, 1)',
              
          ],
          borderWidth: 1
      }]
  },
  options: {
      scales: {
          y: {
              beginAtZero: true
          }
      }
  }
});

const myChart5 = new Chart('dbmsSyllabusLineChart', {
type: 'line',
data: {
labels:['Jan','Feb','Mar','Apr',] ,
datasets: [{
  label: 'Chapters', 
  backgroundColor: "rgba(75, 192, 192, 0.2)",
  borderColor: "rgba(75, 192, 192, 0.2)",
  data: [1,2,3]
}]
}
});


const myChart7 = new Chart('microprocessorSyllabusDoughnutChart', {
  type: 'doughnut',
  data: {
      labels: ['Pending',  'Completed', ],
      datasets: [{
          label: '# of Votes',
          data: [{{microprocessor_pending | safe}},{{microprocessor_completed | safe}}],
          backgroundColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(75, 192, 192, 0.2)',
              
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              
              'rgba(75, 192, 192, 1)',
              
          ],
          borderWidth: 1
      }]
  },
  options: {
      scales: {
          y: {
              beginAtZero: true
          }
      }
  }
});

const myChart8 = new Chart('microprocessorSyllabusLineChart', {
type: 'line',
data: {
labels:['Jan','Feb','Mar','Apr',] ,
datasets: [{
  label: 'Chapters', 
  backgroundColor: "rgba(75, 192, 192, 0.2)",
  borderColor: "rgba(75, 192, 192, 0.2)",
  data: [1,2,3]
}]
}
});



</script>
  </body>
</html>