{% extends 'classroom/base.html' %}
{% block main %}
{% load static %}

<!-- INTRODUCTION SECTION STARTS HERE -->
<section class="main-section">
    <header>INDEX</header>
    <ul>
        <li><h5>Chapter 1: Introduction to multimedia</h5></li>
        <ol>
            <li>Overview</li>
            <li>Objects and elmements of Multimedia</li>
            <li>Application of Multimedia</li>
            <li>Application of Multimedia</li>
            <li>Multimedia System Archetecture - IMA, Workstation, Network </li>
            <li>Types f Medium ( perception, Representation</li>
            <li>I/O deviecs - Salient Feature,Storage Media, Multimedia Database</li>

        </ol>

        <br>

        <li><h5>Chapter 2: Text and Digital Image</h5></li>
        <ol>
            <li>Visual Representation, Digital Representation</li>
            <li>File Formats: RTF, TIFF</li>
            <li>Cmpression Techniques: Huffman Coding, RLE, CCITT group 3 ID</li>
            <li>Digital Image Representation Types of Images, Examples of images</li>
            <li>File Formats: BMP, JPG</li>
            <li>Compression Technique: fundamentals, Types - lossless ANd Lossy, Lossless Comperssion ALgorithms - Shannon--Fano, CCITT group 2D, Lossy Compression Algorithm - JPEG</li>
        </ol>

        <br>

        <li><h5>Chapter 3: Digital Audio</h5></li>
        <ol>
            <li>Basic Sound Concepts: computer representatin of sound</li>
            <li>File Formats - WAV, MPEG Audio</li>
            <li>Compressin: PCM, DM, DPCM</li>
        </ol>

        <br>

        <li><h5>Chapter 4: DIgital Video</h5></li>
        <ol>
            <li>Digitization of Videom types of video signals</li>
            <li>File Formats: MPEG Video, H.261</li>
            <li>Compression: MPEG</li>
        </ol>

        <br>

        <li><h5>Chapter 5: Multimedia Network Communcation and Representation</h5></li>
        <ol>
            <li>Quality of Service</li>
            <li>Multimedia over IP</li>
            <li>Representation - Authoring sustems and user interface</li>
        </ol>

        <br>

        <li><h5>Chapter 6: Multimedia Security</h5></li>
        <ol>
            <li>Requirements and properties</li>
            <li>MEchanisms - Digital Signatures, Steganographic Methods</li>
            <li>Sample Application - unidirectional distributed systens, information systems and conference systems</li>
        </ol>
    </ul>
</section>

